@model Om.Orchard.SocialMetaTags.Models.AuthorshipMetaTagsPart

@if (Model.GoogleTagsSettings.RenderOutput) {
    <fieldset>
        <legend>Authorship Meta Tags</legend>
        @if (Model.GoogleTagsSettings.AuthorRelTagEnabled) {
            <div>
                @Html.LabelFor(m => m.GpAuthorProfileUrl, T("Google+ Profile Url"))
                @Html.TextBoxFor(m => m.GpAuthorProfileUrl, new {
                    @class = "text large"
                })
                <span class="hint">@T("Url for rel=author meta tag")</span>
            </div>
        }
        @if (Model.GoogleTagsSettings.PublisherRelTagEnabled) {
            <div>
                @Html.LabelFor(m => m.GpPublisherProfileUrl, T("Google+ Business Page Url"))

                @if (Model.GoogleTagsSettings.PublisherRelTagAllowOverWrite) {
                    @Html.TextBoxFor(m => m.GpPublisherProfileUrl, new {
                        @class = "text large"
                    })
                }
                else {
                    var presetUrl = string.IsNullOrWhiteSpace(Model.GpPublisherProfileUrl)
                        ? Model.GoogleTagsSettings.PublisherRelTagPageUrl
                        : Model.GpPublisherProfileUrl;
                    @Html.TextBoxFor(m => m.GpPublisherProfileUrl, new {
                        @class = "text large",
                        @readonly = "readonly",
                        Value = presetUrl
                    })
                }
                <span class="hint">@T("Page Url for rel=publisher meta tag")</span>
            </div>
        }
    </fieldset>
}
